/chains
/logs
/rahul_scripts
submit_mcmc_multinode.sh
submit_test.sh
/results/*
!/results/mcmc_results_m5_bc_and_sizeparams_filtered.csv
!/results/summary_m5_bc_and_sizeparams_filtered.csv
!/results/mcmc_results_m3_orgparams_and_size_filtered.csv
!/results/summary_m3_orgparams_and_size_filtered.csv
!/results/mcmc_results_m3_orgparams_only_filtered.csv
!/results/summary_m3_orgparams_only_filtered.csv
!/results/summary_m4_org_and_sizeparams.csv
!/results/results/result_nedler_mead_org0p12.csv
!/results/summary_40k_m2_logparams_v2.csv
!/results/40k_m2_logparams_filtered_v2.csv
!/results/40k_m2_logparams_ccn_results_filtered_v2.csv
/slurm*.out
/code/logs
